This is books page

<!--<div style="display: none;">-->
<div class="dropzone"
      id="my-awesome-dropzone">
    <!--<button type="submit">Submit data and files!</button>-->
</div>
<!--</div>-->

<div id="clickArea" class="dz-default dz-message">
    <span>Drop files here to</span>
</div>

<!--<div id="preview-template" style="display: none;"></div>-->

<div id="preview-template" style="display: none;">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <img data-dz-thumbnail/>
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-success-mark"><span>✔</span></div>
        <div class="dz-error-mark"><span>✘</span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</div>
